a {
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
    text-shadow: 0px 0px 5px darkred, 0px 0px 5px darkred, 0px 0px 5px darkred;
}


#container {
    width: 95%;
    background-color: silver;
    padding: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#container img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#container p {
    width: 90%;
}

.highlighted {
    font-weight: bold;
    font-style: italic;
    color: darkred;
}

.work-experience {
    background-color: rgb(147, 94, 94);
    margin-bottom: 10px;
    border-spacing: 2px;
}

.work-experience td {
    padding: 5px;
}

.work-experience th {
    background-color: white;
    color: darkred;
}

.work-experience tbody tr {
    background-color: silver;
}

.work-experience tbody tr td:first-child {
    width: 130px;
}

.others {
    font-weight: bold;
}